<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">

<style>
    body {
        background-color: #FFF3E3;
    }

    .lock {
        margin-top: 10px;

    }

    .sec {
        margin-left: auto;
        margin-right: auto;
    }

    .round {
        width: 95px;
        height: 95;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid black;
        border-radius: 50%;
    }

    .box {
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        border: 1px solid black;
        border-radius: 6px;
    }

    .otpInput {
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
        background: transparent;
    }

    #alertt {
        border-radius: 10px;
        color: #fff;
        background: -webkit-linear-gradient(45deg, #967017, #B88E2F);
        margin-left: 2%;
        position: relative;
        transition: top 2s;
        opacity: 0;
        animation: moveDownAndUp 5s ease-in-out forwards;
    }


    @keyframes moveDownAndUp {
        0% {
            top: 0;
            opacity: 0;
            /* Start position and invisible */
        }

        30% {
            top: 10px;
            /* Move down */
            opacity: 1;
            /* Fade in */
        }

        50% {
            top: 10px;
            /* Move down */
            opacity: 1;
            /* Fade in */
        }

        60% {
            top: 10px;
            /* Move down */
            opacity: 1;
            /* Fade in */
        }

        80% {
            top: 10px;
            /* Hold for 3 seconds */
            opacity: 1;
            /* Stay visible */
        }

        100% {
            top: 0;
            /* Return to the top */
            opacity: 0;
            /* Invisible again */
        }
    }
</style>
<div class="" style="height: 130px;">
    {{#if invalidEmail}}
    <div id="alertt" class="shadow w-50 p-2 mt-3" role="alert">
        <b style="font-size: small;">WARNING :</b><br>
        <p style="font-size: smaller;">This Email is not regestered before. Please Sign Up</p>
    </div>
    {{/if}}
    {{#if invalidOtp}}
    <div id="alertt" class="shadow w-50 p-2 mt-3" role="alert">
        <b style="font-size: small;">WARNING :</b><br>
        <p style="font-size: smaller;">Invalid OTP, Please double check!</p>
    </div>
    {{/if}}
    {{#if success}}
    <div id="alertt" class="shadow w-50 p-2 mt-3" role="alert">
        <b style="font-size: small;">WARNING :</b><br>
        <p style="font-size: smaller;">OTP consisting 6 digits sended successfully</p>
    </div>
    {{/if}}
</div>
<section class="container">
    <div style="margin-left: auto;margin-right: auto;" class="col-sm-12 col-md-6 col-lg-6 center-div">
            <div style="width: 78%;" class=" container border shadow">
                <h6 class="mt-4 mb-4 text-center" style="color: #B88E2F; font-weight:600">Enter your email address and we'll send you an email with OTP to reset your password.</h6>
                <form action="/forgot_password" method="post" onsubmit="return emailValidate()">
                    <span class="">Email</span>
                    <span id="emailError"style="font-size: 13px; float:right; color:red" class="text-center"></span>
                    <div class="input-group flex-nowrap pb-2 mb-2 pt-1">
                        <input style="height:45px; " {{#if email}}value="{{email}}" {{/if}} type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@gmail.com" name="email">
                        <button type="submit" class="btn btn-primary">Send OTP</button>
                    </div>
                </form>
                
                    <span class="mt-3" style="">Enter OTP</span>
                    <span id="passwordError"style="font-size: 13px; float:right; color:red" class="text-center"></span>
                    {{!-- <div class=" mb-3 input-group">
                        <input style="height:45px;width: 100px;" type="number" class="form-control" id="password" placeholder="Enter password here" name="password">
                    </div> --}}
                    <input class="form-control" name="otp" id="otp" type="number" style="width: 100px;margin-left: auto;margin-right: auto;">
                    <label style="font-size: smaller;color:red" id="OTPError" for=""
                    class="form-label"  ></label>
                    
                    <div class="pt-4 mb-3">
                        <button style="height: 40px;"  class="btn btn-primary float-right w-100" id="verifyOtp">verify OTP</button>
                    </div>
                    
            </div>
        </div>
{{!-- 
    <div class="sec">
        <div class="text-center lock">
            <div class="round">
                <i style="font-size: 60px;" class="bi bi-shield-lock-fill"></i>
            </div>
            <h3 class="mt-2">Forgot Password</h3>

        </div>
        <div class=" box w-50 ">
            <div class="mb-3 mx-5 my-3">
                <label for="email" class="form-label">Enter Your Email address</label>
                <label for="email" id="emailError" style="float: right;color:red;font-size:small"
                    class="form-label"></label>
                <div class="d-flex">

                    <div class="col-auto">
                        <form action="/forgot_password" onsubmit="return emailValidate()" method="post"><input
                                type="email" name="email" class="form-control"
                                style="width: 360px; background: transparent;border:1px solid black;" id="email"
                                aria-describedby="emailHelp" {{#if email}}value="{{email}}" {{/if}}>
                    </div>
                    <div class="col-auto"><button type="submit" class="btn btn-outline-primary"
                            onclick="emailValidate()">Send
                            OTP</button></form>
                    </div>

                </div>
            </div>
            <div class="mb-3 mx-5 my-3 text-center">
                <label for="exampleInputEmail1" class="form-label">Enter OTP here</label><br>
                <label style="font-size: smaller;color:red" id="OTPError" for="exampleInputEmail1"
                    class="form-label"></label><br>
                <div class="d-flex justify-content-center">
                    <input id="otp" type="number" name="otp" class=" otpInput" style="width: 200px;">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary verifyOtp" id="verifyOtp">Verify OTP</button>

            </div>
        </div>
        <a href="/login"><button style="float: right;" class="btn border mx-5"><i class="bi bi-arrow-left-circle "></i>
                Back to
                Login</button></a>

    </div> --}}
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    //Verify OTP
    const verifyOtp = document.getElementById('verifyOtp');
    verifyOtp.addEventListener('click', (e) => {
        const isvalid = validate()
        const valid = emailValidate()
        const otp = document.getElementById('otp').value
        const email = document.getElementById('email').value
        if (isvalid & valid) {
            const data = {
                otp: otp,
                email: email
            }
            $.ajax({
                method: 'POST',
                url: '/verify_forgot_otp',
                data: data,
                success: (data) => {
                    if (data.status == 'success') {

                        Swal.fire({
                            icon: 'success',
                            title: 'You can Create new Password',
                            showConfirmButton: false,
                            timer: 2000
                        })
                        const id = data.id
                        setTimeout(()=>{
                            location.href=`newPassword?id=${id}`
                        },2000)
                    }else if(data.status=='error'){
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }
                },
                error: () => {
                    Swal.fire({
                        icon: 'error',
                        title: 'error occured',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }

            })

        }

    })

    function emailValidate() {
        const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail+\.[a-zA-Z]{3}$/;
        const email = document.getElementById('email')
        const emailError = document.getElementById('emailError')
        if (email.value.trim() === '') {
            emailError.innerHTML = 'Email field id required';
            email.style.borderColor = 'red'
            setTimeout(() => {
                emailError.innerHTML = ''
                email.style.borderColor = 'black'
            }, 5000)
            return false
        }
        if (!emailRegex.test(email.value)) {
            emailError.innerHTML = 'Please provide a valid Email ID'
            email.style.borderColor = 'red'
            setTimeout(() => {
                emailError.innerHTML = ''
                email.style.borderColor = 'black'
            }, 5000)
            return false

        }
        return true
    }

    function validate() {
        let otp = document.getElementById('otp');
        let otpError = document.getElementById('OTPError')

        const otpRegex = /^[0-9]{6}$/;

        if (otp.value.trim() === '') {
            otpError.innerHTML = 'Please Enter your OTP'
            otp.style.borderColor = 'red'
            setTimeout(() => {
                otpError.innerHTML = ''
                otp.style.borderColor = ''
            }, 5000);
            return false
        }
        if (!otpRegex.test(otp.value)) {
            otpError.innerHTML = 'Please Enter a Valid OTP'
            otp.style.borderColor = 'red';
            setTimeout(() => {
                otpError.innerHTML = ''
                otp.style.borderColor = ''
            }, 5000);
            return false
        }
        return true
    }
</script>