<style>
    body {
        background-color: #FFF3E3;
    }
</style>
<section class="container">
    <div class=" center-div">
        <div class=""
            style="height: 300px;margin-left: auto;margin-right: auto;width: 300px;margin-top: 100px;border:1px solid black;border-radius: 9px;">
            <h6 class="mt-3 text-center">Create New Password</h6>
            <form action="/update_password" method="post" onsubmit="return validate()">
                <input type="hidden" name="id" value="{{id}}">
                <div class="mb-3 m-2 mt-4">
                    <label for="password" class="form-label">Enter Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="password2" style="float: right;color:red;font-size: smaller;" id="passwordError" class="form-label"></label>
                </div>
                <div class="mb-3 m-2 mt-4">
                    <label for="password2" class="form-label">Confirm Password</label>
                    
                    <input type="password" class="form-control" id="password2">
                    <label for="password2" style="float: right;color:red;font-size: smaller;" id="passwordError2" class="form-label"></label>
                </div>
                <div class="mb-3 m-2 mt-4">
                    <button type="submit" class="btn btn-primary col-12">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-5">
        <p class="text-secondary">Enter atleast 8 characters and include numbers and<br> special characters</p>
    </div>
</section>
<script>
    function validate() {
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
        const password = document.getElementById('password');
        const password2 = document.getElementById('password2');
        if (password.value.trim() === '') {
            passwordError.innerHTML = 'Password field is required';
            password.style.borderColor = 'red'
            setTimeout(() => {
                passwordError.innerHTML = ''
                password.style.borderColor = ''
            }, 5000)
            return false;
        }
        if (!passwordRegex.test(password.value)) {
            passwordError.innerHTML = 'Please Enter a Strong Password';
            password.style.borderColor = 'red'
            setTimeout(() => {
                passwordError.innerHTML = ''
                password.style.borderColor = ''
            }, 5000)
            return false
        }
        if (password2.value.trim() === '') {
            passwordError2.innerHTML = 'Password field is required';
            password2.style.borderColor = 'red'
            setTimeout(() => {
                passwordError2.innerHTML = ''
                password2.style.borderColor = ''
            }, 5000)
            return false;
        }

        if(password2.value!==password.value){
            passwordError2.innerHTML = 'Password Mismatch Error: Your passwords do not match';
            password2.style.borderColor = 'red'
            setTimeout(() => {
                passwordError2.innerHTML = ''
                password2.style.borderColor = ''
            }, 5000)
            return false;
        }

        
        return true
    }
</script>