{{!-- <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Item 1</a>
        <a class="nav-link" href="#item-2">Item 2</a>
        <a class="nav-link" href="#item-3">Item 3</a>
      </nav>
    </nav>
</div> --}}
<link rel="stylesheet" href="/stylesheet/adminlists.css">
<div class="col-3 the-box border-end border-bottom">
    <p class="list-title">Home</p>
    <div class="lists">
        <a><i style="margin-right: 10px;" class='bx bxs-dashboard'></i>Dashboard</a>
        <a><i style="margin-right: 10px;" class='bx bxs-report'></i>Sales Report</a>   
    </div>
    <p class="list-title">Controls</p>
    <div class="lists">
        <a><i style="margin-right: 10px;" class='bx bxs-receipt'></i>Orders</a>
        <a><i style="margin-right: 10px;" class='bx bxs-category-alt'></i>Category</a> 
        <a><i style="margin-right: 10px;" class='bx bxs-user'></i>Users</a> 
        
    </div>
    <p class="list-title">Editing Function</p>
    <div class="lists">
        <a><i style="margin-right: 10px;" class='bx bx-list-ul'></i>Products</a>
        <a><i style="margin-right: 10px;" class='bx bxs-coupon'></i>Coupons</a> 
        <a><i style="margin-right: 10px;" class='bx bx-note'></i>Banners</a> 
    </div>
</div>