#helo{
    color: blue;
}

#image{
    background: url('/Images/wood-sideboard-living-room-interior-with-copy-space.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    
}
@keyframes smoothHoverAnimation {
    0% {
      color: #fff;
    }
    100% {
      color:#cdf6ff;
    }
  }
  
  /* Apply animation to the element */
 
  
  /* Trigger the animation on hover */
  

#login-div{
    background-color: #FFF3E3;
    border-radius: 15px;
    width: 320px;
    margin-top: 17%;
    /* backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) */
}
#buton{
    background-color: #B88E2F ;
    border-style: none;
}

#buton:hover{
    background-color: #987524;
}
#register-p{
    text-decoration: none;
    color:#000000 
}

#register-p:hover{
    color:#a17306
}
#login-heading{
    
    margin-top: 25%;
    font-weight: 600;
    font-size: 42px;
    margin-left: 4%;
    color: white;
    
    animation-fill-mode:forwards; /* Keeps the final state of the animation */
    animation-play-state:paused;
}
#verify-heading{
    margin-top: 12%;
    font-weight: 600;
    font-size: 42px;
    margin-left: 4%;
    color: white;
    
    animation-fill-mode:forwards; /* Keeps the final state of the animation */
    animation-play-state:paused;
}
#login-heading:hover {
    animation-name: smoothHoverAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-play-state: running; /* Resume the animation on hover */
}

@media screen and (max-width: 768px) {
    #login-heading{
        margin-top: 5%;
        font-weight: 500;
        font-size: 38px;
        text-align: center;
    }
    #verify-heading{
        margin-top: 5%;
        font-weight: 500;
        font-size: 38px;
        text-align: center;
    }
    #login-div{
        margin-top:4% ;
    }
}
@media screen and (max-width: 415px) {
    #login-heading{
        margin-top: 15%;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }
    #login-div{
        margin-top:13% ;
    }
}
#alertt{
    border-radius: 10px;
    color: #fff;
    background:-webkit-linear-gradient(45deg,#967017,#B88E2F);
    margin-left: 9%;
    position: relative;
    transition: top 2s;
    opacity: 0;
    animation: moveDownAndUp 5s ease-in-out forwards;
}
#alerted{
    border-radius: 10px;
    color: #fff;
    background:-webkit-linear-gradient(45deg,red,rgb(255, 101, 101));
    margin-left: 9%;
    position: relative;
    transition: top 2s;
    opacity: 0;
    animation: moveDownAndUp 5s ease-in-out forwards;
}

@keyframes moveDownAndUp {
    0% {
        top: 0;
        opacity: 0; /* Start position and invisible */
    }
    30% {
        top: 20px; /* Move down */
        opacity: 1; /* Fade in */
    }
    50% {
        top: 20px; /* Move down */
        opacity: 1; /* Fade in */
    }
    60% {
        top: 20px; /* Move down */
        opacity: 1; /* Fade in */
    }
    80% {
        top: 20px; /* Hold for 3 seconds */
        opacity: 1; /* Stay visible */
    }
    100% {
        top: 0; /* Return to the top */
        opacity: 0; /* Invisible again */
    }
}